@using Microsoft.Ajax.Utilities
@model Vidly.Models.Customer
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>
@if (Model.Name.Length > 0)
{
    <h1>@Model.Name</h1>
}
else
{
    <p>No information!</p>
}
