@using Vidly.Models
@model  IEnumerable<Customer>
@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>


@if (Model.Any())
{
    <ul>
        @foreach (Customer cliente in Model)
        {
            <li> @Html.ActionLink(cliente.Name,"Details","Customers",new {id = cliente.Id },null)</li>
        }


    </ul>    
        
    
    

    
    
}
else
{
    <p>We don't have any customer yet!</p>
}

