@using Vidly.Models
@model  IEnumerable<Customer>
@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Customers</h2>

<p>
    @Html.ActionLink("NEW CUSTOMER", "New", "Customers", new { @class = "btn btn-primary" })
</p>
@if (Model.Any())
{
    <table Id="Customers" Class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>
                    Customers
                </th>
                <th>
                    MembershipType
                </th>
                <th>
                    Delete
                </th>
            </tr>
        </thead>
        <tbody>

            @foreach (Customer cliente in Model)
            {
                <tr>

                    <td>@Html.ActionLink(cliente.Name, "Edit", "Customers", new { id = cliente.Id }, null)</td>
                    <td>@cliente.MembershipType.Name</td>
                    <td>
                        <button data-customer-id="@cliente.Id" class="btn-link js-delete">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}


else
{
    <p>We don't have any customer yet!</p>
}


@section scripts
{
    <script>
        $(document).ready(function () {
            $("#Customers").dataTable();

            $("#Customers").on("click",".js-delete",

                function () {
                    var button = $(this);

                    bootbox.confirm("Are you sure to Delete this customer?",
                        function (result) {
                            if(result){
                            $.ajax({
                                url: "/api/customers/" + button.attr("data-customer-id"),
                                method: "DELETE",
                                success: function () {
                                    button.parents("tr").remove();
                                }
                            });
                            }
                        });
                    
                       

                    
                });
        });
    </script>
}